<div class="master">

    <!--div class="prenium">
        <div class="prenium-content">
            <app-drop-zone [customStyle]="preniumStyle" [customItemStyle]="preniumItemStyle"></app-drop-zone>
        </div>
    </div-->

    <div class="standard">
        <div class="standard-content">
            <app-drop-zone [customStyle]="standardStyle" [customItemStyle]="standardItemStyle" [initialItems]="items"></app-drop-zone>
        </div>
    </div>



    <div class="trash">
        <div class="trash-content">
            <app-drop-zone [customStyle]="trashStyle" [customItemStyle]="trashItemStyle"></app-drop-zone>
        </div>
    </div>

</div>